@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-text {
    @apply text-gray-700 dark:text-white hover:text-[#02f297] font-medium py-2 px-4 rounded-full transition-colors duration-200 border border-transparent hover:border-[#02f297] hover:bg-gray-50 dark:hover:bg-gray-800;
  }
}

@layer components {
  .btn-elevated {
    @apply bg-[#02f297] hover:bg-[#28ffbb] text-black font-medium py-2 px-8 rounded-full;
  }
}

@layer components {
  .btn-outlined {
    @apply bg-transparent hover:bg-gray-800 text-[#34d094] font-bold py-2 px-8 rounded-full border border-[#34d094];
  }
}

@layer components {
  .txt-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#00ff9d] to-[#007a8d];
  }
}

@layer components {
  .txt-gradient-2 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#00ff9d] to-[#007a8d];
  }
}

@layer components {
  .txt-gradient-3 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#00ff9d] to-[#007a8d];
  }
}

@layer base {
  body {
    @apply dark:bg-gray-900 dark:text-white transition-colors duration-300;
  }
}

@layer components {
  .bg-gradient {
    @apply bg-gradient-to-bl from-[#ffffff] to-[#ffffff] dark:from-gray-900 dark:to-gray-800;
  }
}

@layer components {
  .card {
    @apply rounded-2xl shadow-2xl;
  }
}